<div class="genre_page">

  <div>
    <h1 class="page_title">カバン追加ページ</h1>
  </div>

  <div class="">
    <%= form_with model: @genre, url: genres_path, local: true do |f| %>
    <%= f.text_field :name, placeholder: "カバンを追加", class: "form" %>
    <%= f.submit "登録", class: "genre_button" %>
    <% end %>
  </div>

  <div class="genre_box">
    <table>
      <thead>
        <tr>
          <th>持ってるかばん</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @genres.each do |genre| %>
        <tr>
          <td class="genre_name"><%= genre.name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
