<div class="confirm">
  <div class="confirm_title">
    <h3>本当に退会しますか？</h3>
  </div>
  
  <div class="button_box">
    <div>
      <%= link_to "退会しない", users_my_page_path, class: "button" %>
    </div>
    
    <div>
      <%= link_to "退会する", withdraw_users_path(@user), method: :patch, data: { confirm: "[確認]アカウントを削除してもよろしいですか？" }, class: "button" %>
    </div>
  </div>
    
</div>
