
      <div class="event_box">
        <h2><%= event.title%></h2>
        <table>
          <tr>
            <% event.genres.each do |genre| %>
            <th><%= genre.name %></th>
            <% end %>

            
          </tr>
        </table>
      </div>