
      <div class="event_box">

         <h2><%= event.title %></h2>
           <table>
             <tr>
             <% genres.each do |genre| %>
                <th><%= genre.name %></th>
                  <% genre.items.each do |item| %>
                    <% if item.event_id == event.id %>
                    <td>
                      <%= check_box_tag :item %>
                      <%= item.name %>
                    </td>
                    <% end %>
                  <% end %>
               <% end %>

            </tr>
          </table>



      </div>