
      <div class="event_box">
          <table>
            <tr>
              <% genres.each do |genre| %>
                <th><%= genre.name %></th>

                <% genre.items.each do |item| %>
                <td>
                  <%= check_box_tag :item %>
                  <%= item.name %>
                </td>
                <% end %>
              <% end %>
            </tr>
          </table>

      </div>