<div class="event_page">
  
  <div class="event_create">
    <div class="page_title">
      <h1>イベント追加ページ</h1>
    </div>
    
    <div class="event_form">
      <%= form_with model: @event, url: events_path, local: true do |f| %>
      <table>
        
        <tr>
          <th>イベント追加</th>
          <td><%= f.text_field :title, class: "form"%></td>
        </tr>
        
        <tr>
          <th>予定日</th>
          <td><%= f.datetime_select :start_time, class: "form" %></td>
        </tr>
        
        <tr>
          <th></th>
          <td><%= f.submit "新規登録", class: "event_button" %></td>
        </tr>
        
      </table>
      <% end %>
    </div>
  </div>
 

</div>