<div class="about">
 <div class="about_content">
  
  <div>
  <h1 class="about_title">About</h1>
  </div>
     
  <div class="about_text">
   <h3>旅行好きが作った持ち物チェックアプリケーションです。</h3>
   <h3>忘れ物はないですか？</h3>
   <h3>旅先でしたかったことを諦めないためにご利用ください。</h3>
  </div>
     
     
     
 </div>
</div>