<div class="about-content">
 
    <div>
     <h1 class="about-title">About</h1>
    </div>
    
     <div class="about-text">
      <p>旅行好きが作った持ち物チェックアプリケーションです。</p>
      <p>忘れ物はないですか？</p>
      <p>旅先でしたかったことを諦めないためにご利用ください。</p>
     </div>
    
    
    
</div>