<div class="top">


   <div class="top-content">

    <h2 class="top-title">BACKPACK</h2>

    <div class="top-button">
      <%= link_to "新規登録", new_user_registration_path, class: "button" %>

      <%= link_to "ログイン", new_user_session_path, class: "button" %>
    </div>

   </div>

</div>