
<div class="item_box">
　<h3  class="item_title">アイテム一覧</h3>
    <div>

       <% items.each do |item| %>
        <li><%= link_to item.name, item_path(item), :method => :put, params: {event_id: @event.id} %></li>
      <% end %>
    </div>
</div>