// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item_page {
  padding: 30px ;
  text-alige: center ;
  
}

.page_title {
 text-align: center ;
}

.item_page_box {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px ;
}

.form_item {
  margin: 0 auto;
  padding: 15px ;
  position: relative ;
}



.item_button {
  background: #0bd ;
  color: #fff ;
  border-radius: 5px ;
  padding: 10px ;
  margin-left: 20px ;
}

.item_index {
  padding: 20px ;
}


.genre_item {
  padding-right: 30px ;
  font-size: 1rem ;
  flex-wrap: wrap ;
}

.update_box {
  margin: 20px ;
}

.item_update {
  padding: 10px ;
　border-bottom: solid 10px #87cefa ;
}