// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mypage {
  margin-top: 30px ;
}

.event {
  font-size: 1rem ;
  background: #0bd ;
  color: #fff ;
  border-radius: 5px ;
  padding: 10px 22px ;
  margin-left: 20px ;
}

.calender_box {

}

.calender {
  margin-top: 20px ;
}

.main_box {
  display: flex ;
  justify-content: space-between ;
  margin-bottom: 50px ;
}

.event_box {
  width: 800px ;
  display: block ;
  margin: 0 auto ;
  padding: 70px 0 ;
  
}



.item_box {
  width: 22% ;
  display: block ;
}

.item_title {
  border-bottom: 8px solid #f7f7f7 ;
  text-align: center ;
  line-height: 0.6 ;
}

.user_content {
  display: flex ;
  position: sticky ;
  top: 100vh ;
}

.edit {
  font-size: 1rem ;
  background: #0bd ;
  color: #fff ;
  border-radius: 5px ;
  padding: 10px 22px ;
  margin-left: 20px ;
}

.delete {
  font-size: 1rem ;
  background: #0bd ;
  color: #fff ;
  border-radius: 5px ;
  padding: 10px 22px ;
  margin-left: 20px ;
}

.confirm {

}

.button_box {
  display: flex ;
}

.button {
  font-size: 1rem ;
  background: #0bd ;
  color: #fff ;
  border-radius: 5px ;
  padding: 10px 22px ;
  margin-left: 20px ;
}